<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Guardian Mobile Lab: Notifications</title>
    <link rel="manifest" href="./manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="header">
      <a id="logo" href="/"></a>
      <h4>Guardian Mobile Innovation Lab</h4>
      <h1>Rio 2016 Notifications</h1>
    </div>
    <div id="content-switch">
      <div id="can-run-experiment">
        <div id="react-container">
        </div>
      </div>
      
      
      <div id="chrome-low-version">
        <p>
            Hi! In order to gain access to our web notification experiments, you need to be running the latest version of Chrome.
            Please update from the Play store here:
        </p>
        <a href="https://play.google.com/store/apps/details?id=com.android.chrome" class="as-button">
            Update Chrome
        </a>
        <p>If you have questions or feedback, please email us at <a href="mailto:innovationlab@theguardian.com">innovationlab@theguardian.com</a>.</p>
      </div>
      
      <div id="not-chrome">
        <p>
          Learn more about the Guardian Mobile Innovation Lab and our past and future experiments on <a href="https://medium.com/the-guardian-mobile-innovation-lab">Medium</a>. You can reach us 
          anytime at <a href="mailto:innovationlab@theguardian.com">innovationlab@theguardian.com</a>.
        </p>
        <video src="//www.gdnmobilelab.com/files/notifications.mp4" controls poster="notify-permission.png"/>
      </div>
    </div>
  
  </body>
</html>