<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Guardian Mobile Lab: Notifications</title>
    <link rel="manifest" href="./manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <a id="logo" href="/"></a>
    <h4>Guardian Mobile Innovation Lab</h4>
    <h1>Notifications</h1>
    <div id="content-switch">
      <div id="can-run-experiment">
      
        <p>Click the button below to gain access to our notification experiment.</p>
        <p>On Friday, June 3 at 8.30am EST we’ll be sending a series of notifications about the May US jobs report. We’re interested in your thoughts and we’d appreciate it if you took a moment to fill out a survey you’ll see at the end.
You can reach us anytime at <a href="mailto:innovationlab@theguardian.com">innovationlab@theguardian.com</a>. Thanks!</p>

        <div id="react-container">
        </div>
      </div>
      
      
      <div id="chrome-low-version">
        <p>
            Hi! In order to gain access to our web notification experiments, you need to be running the latest version of Chrome.
            Plese update from the Play store here:
        </p>
        <a href="https://play.google.com/store/apps/details?id=com.android.chrome" class="as-button">
            Update Chrome
        </a>
        <p>If you have questions or feedback, please email us at <a href="mailto:innovationlab@theguardian.com">innovationlab@theguardian.com</a>.</p>
      </div>
      
      <div id="not-chrome">
        
        <p>
          This notifications experiment is designed for those using Chrome for Android, but even without an Android phone 
          you can view the demo below. We hope to have an iOS equivalent up soon as we continue to work with web 
          notifications and test other ideas. 
        </p>
        <p>
          Learn more about the Guardian Mobile Innovation Lab and our past and future experiments on Medium. You can reach us 
          anytime at <a href="mailto:innovationlab@theguardian.com">innovationlab@theguardian.com</a>.
        </p>
        <video src="//www.gdnmobilelab.com/files/notifications.mp4" controls poster="notify-permission.png"/>
      </div>
    </div>
  
  </body>
</html>