@import "reset.scss";
@import "fonts.scss";
@import "toggle.scss";
@import "loading.scss";

body {
    font-family: 'Guardian Text Egyptian Web', serif;
    padding: 5vmin;
    max-width: 600px;
    margin: 0 auto;
    font-weight: 400;
    padding-top: 0;
}

button {
    display: block;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}

.header {
    margin-top: 10px;
}

#logo {
    float: right;
    width: 40px;
    height: 40px;
    background: url('../images/gdnmobilelab-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

h4 {
    color: #5BCDE2;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 5px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    color: #27508C;
    margin-bottom: 1em;
}

p {
    margin: 1em 0;
    font-size: 16px;
    line-height: 24px;
    //font-weight: 300;
}

.button-row {
    line-height: 32px;
    //height: 32px;
}

.as-button, button {
    display: block;
    margin-top: 2em;
    background: #27508C;
    color: #fff;
    text-decoration: none;
    padding: 15px 0px;
    text-align: center;
    border:none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 200;
}

button.active {
    background: #851E1E;
}

button.disabled {
    background: #ccc;
}

a {
    color: #27508C;
    text-decoration: none;
    font-weight: bold;
}

video {
    width: 100%;
    background: #000;
    height: 50vw;
}

#content-switch > div {
    display: none;
}

#content-switch.can-run-experiment #can-run-experiment,
#content-switch.not-chrome #not-chrome,
#content-switch.chrome-low-version #chrome-low-version
 {
    display: block;
}

input {
    display: block;
    width: 100%;
    height: 34px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input.search {
    display: table-cell;
    box-sizing: border-box;
}