.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 80px;
  height: 40px;
  background-color: #dddddd;
  border-radius: 40px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 41px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  width: 38px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #27508C;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 44px;
}

.toggle-text, .toggle, .toggle-floater {
  display: table-cell;
  vertical-align: middle;
}

.toggle-floater {
  float: right;
}

.toggle-text {
  width: 60%;
  line-height: 24px;
}

.toggle-container {
  margin-bottom: 20px;
  display: table;
  width: 100%;
}

.toggle-container .disabled {
  opacity: 0.3;
}

.toggle-text.recommended {
  font-weight: bold;
}

.toggle-text.recommended > .your-location {
  margin-top: 5px;
  display: inline-block;
  font-size: 12px;
  color: red;
}